<!DOCTYPE html >
<html xmlns:th="http://www.thymleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<div align="center">
	  <h1>YAZAR GİRİŞ SAYFASI</h1>
	  <p>Sevgili yazar!Kitap otomasyon sistemine giriş için lütfen kullanıcı adınızı ve şifrenizi yazın. </p>
	  <form action="#" th:action="@{/writerEntrance}" th:object="${writer}" method="post">
        <label>Yazar İsmi:</label>
        <input type="text"  name="name" th:field="*{fullName}"/><br/>
        <label>Şifre:</label>
        <input type="password" name="password" th:field="*{password}"/><br/>
        <button type="submit">Giriş</button> 
	  </form>
	</div>


</html>